<div class="mt-2">
    <h3 class="text-subnav"><span class="color-letter">E</span>diter vos informations</h3>
</div>
<div class="text-center">
    {{ form_start(form) }}
    <div class="row mt-5">
        <div class="col">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col">
            {{ form_row(form.lastname) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {{ form_row(form.email) }}
        </div>
        <div class="col">
            {{ form_row(form.phone) }}
            {% if user.phone is empty %}
            <small class="form-text text-muted">
                ** Format sans espaces, sans tirets
            </small>
            {% endif %}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {{ form_row(form.companyName) }}
        </div>
        <div class="col">
            {{ form_row(form.siretNumber) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {{ form_row(form.adress) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {{ form_row(form.town) }}
        </div>
        <div class="col">
            {{ form_row(form.zipcode) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {{ form_row(form.provider) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {{ form_row(form.profilePictureFile) }}
        </div>
    </div>
    <button type="submit" class="btn btn-inscription text-center mb-3">{{ button_label|default('Enregistrer')
        }}</button>
</div>
<a href="{{ path('expert_profil')}}">
    <button type="button" class="btn btn-inscription text-center">Retour</button>
</a>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
<script>
    $('.custom-file-input').on('change', function (event) {
        var inputFile = event.currentTarget;
        $(inputFile).parent()
            .find('.custom-file-label')
            .html(inputFile.files[0].name);
    });
</script>
{% endblock javascripts %}