{% extends 'base.html.twig' %}

{% block title %}Mon profil {% endblock %}

{% block body %}
{{ include('expert/navExpert.html.twig') }}
<div class="container-fluid wrapperPresta d-flex justify-content-center">
  <div class="row justify-content-around align-items-center">
    <div class="col-lg-4 col-md-6">
      {% include 'design_form_yellow.html.twig'%}
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="pb-3">
        <h1><span class="color-letter">B</span>ienvenue dans votre compte {{user.companyName}}
          {% if user.companyName is empty %}
          {{user.firstname}}
          {% endif %} !</h1><br>
        <p>Dans cet espace, vous pouvez :</p>
        <ul>
          <li>
            <p>Modifier vos <a href="{{ path('expert_profil')}}"><span class="color-letter index-profile">informations
                  personnelles</span></a>,</p>
          </li>
          <li>
            <p>Accéder aux <a href="{{ path('expert_ebook')}}"><span
                  class="color-letter index-profile">ebooks</span></a> que
              vous
              avez publiés,</p>
          </li>
          <li>
            <p>Consulter vos <a href="{{ path('expert_messagerie')}}"><span
                  class="color-letter index-profile">messages</span></a>.
            </p>
          </li>
        </ul>
      </div>
      <a href="{{ path('expert_ebook_new')}}">
        <button type="button" class="btn btn-inscription nav-link mt-5"><i class="fas fa-plus"></i> Ajouter un nouveau
          ebook</button>
      </a>
    </div>
  </div>
</div>
<div class="hr-expert mt-5"><hr></div>
{% endblock %}