<footer>
    <div class="container pb-3">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-2 pr-4">
                <h3>BEEZNESS<span class="color-number">LY</span></h3>
                <p><a href="{{ path('faq')}}">FAQ</a></p>
                <p><a href="{{ path('contact')}}">Contact</a></p>
                <p><a href="{{ path('mentions_legales')}}">Mentions légales</a></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-4">
                <h3>Entrepreneur</h3>
                <p><a href="{{ path('home_ebooks')}}">Découvrez les ebooks de nos experts</a></p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pr-4">
                <h3>Experts</h3>
                <p><a href="{{path('app_register_expert')}}">Créez votre profil pour publier vos ebooks</a></p>
            </div>
        </div>
    </div>
</footer>